
div{
    font-weight: 500;
    color: rgb(8, 20, 54);
}
.headbar{
    background-color: maroon;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
.eLogo{
    font-size: 35px;
    color: maroon;
    padding-left: 14px;
    padding-right: 14px;
    
    display: inline-block;
    background-color: white;
    border-radius: 50%;
    text-align:center;
    font-family: Poppins;
    font-weight: 800;
    
}
.eLogo-link-router-dom{
    text-decoration: none;
    color: maroon;
    cursor: pointer;
}
.eLogo-link-router-dom:hover{
    color: rgb(175, 52, 7);
}
.LogInButton{
    border: solid maroon;
    color: white;
    background-color: inherit;
    font-style: none;
    margin-right: 10%;
    font-family: Poppins;
    font-size: small;
}
.accountManage{
    display: flex;
    justify-content: left;
    /* margin-left: 80%;
    margin-right: 5%;
    margin-top: -45px; */
    /* top: 2%; */
    padding: 2px;
    font-family: Poppins;
    background-color: inherit;
}
.welcomeUser{
    color: white;
    font-size: 2em;
}
.LogInButton{
    width: 100%;
    margin-right: 50px;
}
.AccInButton{
    border: solid 1px white;
    color: white;
    background-color: inherit;
    padding: 8px;
    font-size: small;
}

.a1{
    font-size: small;
    text-decoration: none;
    color: white;
    font-family: Poppins;
}
.a1:hover{
    color: wheat;
    cursor: pointer;
}
@media screen and (max-width:521px) {
    .LogInButton{
        border: solid maroon;
        color: white;
        background-color: inherit;
        font-style: none;
        margin-right: 10%;
        font-family: Poppins;
        font-size: small;
    }
    .a1{
        font-size: 8px;
        text-decoration: none;
        color: white;
        font-family: Poppins;
    }
    .accountManage{
        display: flex;
        margin-left: 50%;
        margin-right: 5%;
        margin-top: -45px;
        top: 2%;
        padding: 2px;
        font-family: Poppins;
        background-color: inherit;
    
    }
    .AccInButton{
        border: solid 1px white;
        color: white;
        background-color: inherit;
        padding: 8px;
        font-size: small;
    }
    .eLogo{
        font-size: 20px;
        color: maroon;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 20px;
        display: inline-block;
        background-color: white;
        border-radius: 50%;
        text-align:center;
        font-family: Poppins;
        font-weight: 800;
        
    }
}
.imageTag {
    padding: 2%;
}   
.imgTaginner{
    border: 1px solid rgba(0,0,0.05);
    margin-left: 7%;
    border: double 10px rgb(250, 249, 246);
}
.imgTag-letter{
    position: absolute;
    top: 40%;
    left: 40%;
    color: black;
}
.bakeryName{
    padding: top 5px;padding-left: 70px;
    font-family: Poppins;
}
.Tabsall{
    padding-top: 20px;
    padding-bottom: 100px;
    font-family: Poppins;
}
.x{
    display: flex;
    float: right;
    color: black;
    font-size:large;
    text-align: center;
    border-radius: 14%;
    padding-left: 8px;
    width: 1.5em;
    border: none;
    
    
}
.x:hover{
    background-color: rgb(250, 72, 72);
}
.google-fb{
    /* margin-top: 8%; */
    /* text-align: center; */
    /* margin-top: 20px; */
}
.orderButton{
    display: flex;
    float: right;
    margin-right: 15px;
}
.inputBox{
    /* width: 80%; */
    padding: 8px 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: rgb(248, 232, 202);
}
.inputBox-final{
    padding: 8px 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: rgb(237, 222, 195);
    margin-top: 10px;

}
.inputs-final-container{
    align-items: center;
    text-align: center;
}
.itemName{
    display:inline;
}
.veg{
    color: rgb(10, 163, 1);
}
.non-veg{
    color: rgb(248, 54, 54);
}
.total{
    /* position: fixed;
    
    right: 20%;
    top: 5%; */
    display: inline-block;
    text-align: center;
    background-color: rgb(142, 217, 221);
    border-radius: 18px;
    box-shadow: 2px 2px 5px 0px rgb(111 113 113);
    height: 9%;
    width: 150px;
    padding: 3px;

}
.paybtn{
    display: flex;
    float: right;
}
.amountbtn{
    display: inline-block;
    margin-top: -18%;
    margin-left: 85%;
}
.modelHead{
    display: inline;
    margin-bottom: 2px;
}
.up-in{
    color: rgb(3, 3, 158);
    text-decoration:underline
}
.up-in:hover{
    text-decoration: none;
    color: rgb(73, 73, 255);
    cursor:pointer
}
.up-in-parent{
    padding-top: 10px;
}
.input{
    display: block;
    margin-top: 7%;
    width: 80%;
    padding: 9px;
    border: solid 1px black;
    border-radius: 5px;
    box-shadow:-2px -2px 8px 2px rgb(249, 214, 149);
}
.input-1{
    display: block;
    width: 80%;
    padding: 9px;
    border-radius: 5px;
    box-shadow:-2px -2px 8px 2px rgb(249, 214, 149);
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-inner-spin-button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
.paymentModelh1{
    display: inline-block;
}
.menu_poster{
    width: 12%;
    box-shadow: 5px 5px 15px 2px grey;
    border-radius: 10px;
    margin-bottom: 11px;
    margin-right: 18px;
}
.menu_heading{
    display: flex;
    justify-content: start;
    margin-bottom: 10px;
    align-items: center;
}
.logInbtns{
    display: flex;
    text-align: center;
    justify-content: center;
}
.logInbtns-gf{
    text-align: center;
    align-items: center;
}
.logInbtns-gf div{
    display: inline-block;
    margin-bottom: 10px;
}
.log-msg-red{
    margin-top: 10px;
    /* background-image: linear-gradient(to right transparent, rgb(242, 52, 10), transparent); */
    background-image: linear-gradient(to right, white, rgb(249, 122, 113), white);
    color: rgb(85, 2, 2);
    animation: fadeBackground 4s;
    animation-fill-mode: forwards;
}
.log-msg-green{
    margin-top: 10px;
    /* background-image: linear-gradient(to right transparent, rgb(242, 52, 10), transparent); */
    background-image: linear-gradient(to right, white, rgb(130, 232, 130), white);
    color: rgb(2, 81, 2);
    animation: fadeBackground 4s;
    animation-fill-mode: forwards;
}
  
@keyframes fadeBackground {
    from { opacity: 1.0; }
    to { opacity: 0; }
  }
.log-msg-red p{
    background-image: linear-gradient(to right transparent, rgb(242, 52, 10), transparent);
    color: rgb(87, 1, 1);
    padding: 5px 10px;
}
.log-msg-green p{
    background-image: linear-gradient(to right transparent, rgb(242, 52, 10), transparent);
    color: rgb(1, 71, 1);
    padding: 5px 10px;
}
.log-out-button-container{
    display:flex;
    justify-content: start;
}
.log-out-button-container > div > button{
    margin: 20px;
    border: none;
    border-radius: 7px;
    padding: 7px;
}
#Confirm{
    background-color: skyblue;
}
#Cancel{
    background-color: rgb(242, 126, 126);
}
/* .paynow-div{
    position: fixed;
    z-index: 1;
} */